<a href="https://www.kaggle.com/code/hilalalpak/pandas-notes3?scriptVersionId=178375142" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import seaborn as sns
df = sns.load_dataset("titanic")

In [2]:
##Aggregation & Grouping
df.groupby("sex")["age"].mean()

sex
female    27.915709
male      30.726645
Name: age, dtype: float64

In [3]:
df.groupby(["sex", "embark_town"]).agg({"age": ["mean", "sum"],
                      "survived": "mean"})

                          age            survived
                         mean       sum      mean
sex    embark_town
female Cherbourg    28.344262   1729.00  0.876712
       Queenstown   24.291667    291.50  0.750000
       Southampton  27.771505   5165.50  0.689655
male   Cherbourg    32.998841   2276.92  0.305263
       Queenstown   30.937500    495.00  0.073171
       Southampton  30.291440  11147.25  0.174603

In [4]:
##Pivot Table; df.pivot_table("kesişim", "satır", "sütun")
df.pivot_table("survived", "sex", "embarked")

embarked         C         Q         S
sex
female    0.876712  0.750000  0.689655
male      0.305263  0.073171  0.174603

**** Pivot table ın ön tanımlı değeri mean(ortalama)dır. Biçimlendirmek için sona ör; aggfunc="std" eklenir.

**** Sayısal değişkeni kategorik değişkene çevirmek; Gurpları tanımlayabiliyorsan pd.cut tanımlayamıyorsan pd.qcut kullanılır.

In [5]:
df["new_age"] = pd.cut(df["age"], [0, 10, 18, 25, 40, 90])
df.pivot_table("survived", "sex", ["new_age", "class"])

/tmp/ipykernel_18/4226650746.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df.pivot_table("survived", "sex", ["new_age", "class"])

new_age (0, 10]                   (10, 18]                   (18, 25]  \
class     First Second     Third     First Second     Third     First
sex
female      0.0    1.0  0.500000  1.000000    1.0  0.523810  0.941176
male        1.0    1.0  0.363636  0.666667    0.0  0.103448  0.333333

new_age                      (25, 40]                      (40, 90]            \
class      Second     Third     First    Second     Third     First    Second
sex
female   0.933333  0.500000  1.000000  0.906250  0.464286  0.961538  0.846154
male     0.047619  0.115385  0.513514  0.071429  0.172043  0.280000  0.095238

new_age
class       Third
sex
female   0.111111
male     0.064516

In [6]:
##Lambda Fonksiyonu; Kullan-at fonksiyon
df["age"].apply(lambda x: x/10).head()

0    2.2
1    3.8
2    2.6
3    3.5
4    3.5
Name: age, dtype: float64

> Döngü ile; for col in df.columns:
            if "age" in col:
              df[col] = df[col]/10
              
 
**** apply( den sonra daha önceden tanımlanmış bir fonksiyon kullanılabilir.

In [7]:
import numpy as np

m = np.random.randint(1, 30, size=(5, 3))
df1= pd.DataFrame(m, columns=["var1", "var2", "var3"])
df2 = df1 + 99
pd.concat([df1, df2])

   var1  var2  var3
0    18    21    21
1    19    26    26
2    17     4     7
3    19     7     4
4    18    25    18
0   117   120   120
1   118   125   125
2   116   103   106
3   118   106   103
4   117   124   117

In [8]:
pd.concat([df1, df2], ignore_index=True) ##indexleri düzenleme için kullanılır.

   var1  var2  var3
0    18    21    21
1    19    26    26
2    17     4     7
3    19     7     4
4    18    25    18
5   117   120   120
6   118   125   125
7   116   103   106
8   118   106   103
9   117   124   117

> Alternatif yol;
    pd.merge(df1, df2, on="hangi değere göre eşleyecek")